<div class="container-fluid">
  <div><h3 class="text-center">14 day Weather Forcast:</h3>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12 " >
      <p class="text-center"> {{this.weatherData?.list[0].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[0].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[0].weather[0].icon}}.png">
    </div>

    <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[1].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[1].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[1].weather[0].icon}}.png">
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[2].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[2].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[2].weather[0].icon}}.png">
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[3].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[3].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[3].weather[0].icon}}.png">
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[4].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[4].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[4].weather[0].icon}}.png">
      </div>

    <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[5].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[5].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[5].weather[0].icon}}.png">
    </div>
  </div>
  <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center">{{this.weatherData?.list[6].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[6].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[6].weather[0].icon}}.png">
      </div>

        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[7].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[7].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[7].weather[0].icon}}.png">
    </div>

        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center">{{this.weatherData?.list[8].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[8].weather[0].description}}</p>
      <img class="center"  src="http://openweathermap.org/img/w/{{this.weatherData?.list[8].weather[0].icon}}.png">
    </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[9].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[9].weather[0].description}}</p>
      <img class="center"  src="http://openweathermap.org/img/w/{{this.weatherData?.list[9].weather[0].icon}}.png">
    </div>

        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center">{{this.weatherData?.list[10].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[10].weather[0].description}}</p>
      <img class="center"  src="http://openweathermap.org/img/w/{{this.weatherData?.list[10].weather[0].icon}}.png">
    </div>

        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[11].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[11].weather[0].description}}</p>
      <img  class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[11].weather[0].icon}}.png">
    </div>
  </div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[12].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[12].weather[0].description}}</p>
      <img class="center" src="http://openweathermap.org/img/w/{{this.weatherData?.list[12].weather[0].icon}}.png">
      </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
      <p class="text-center"> {{this.weatherData?.list[13].main.temp}}°C</p>
      <p class="text-center">Weather : {{this.weatherData?.list[13].weather[0].description}}</p>
      <img class="center"  src="http://openweathermap.org/img/w/{{this.weatherData?.list[13].weather[0].icon}}.png">
    </div>
  </div>
</div>
